.page-title {
    padding-top: 20px;
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: 700;
    color: var(--dark-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
}

.btn-kembali {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 14px;
  background-color: #0F8EC8;
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.2s ease;
}

.btn-kembali:hover {
  background-color: #d4d4d4;
}

.detail-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    margin-bottom: 3rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.magang-image-container {
    width: 100%;
    max-width: 800px;
    height: 300px;
    background-color: #ddd;
    margin: 0 auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.magang-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.magang-description p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.2rem;
    text-align: justify;
    color: var(--dark-color);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

