.page-title {
  padding-top: 20px;
  color: var(--dark-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
}

.magang-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5rem
}

.magang-image-container {
  width: 100%;
  max-width: 800px;
  height: 300px;
  background-color: #ddd;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.magang-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.magang-sub-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.magang-description p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.kegiatan-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 1rem;
}

.kegiatan-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.kegiatan-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.kegiatan-card:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.kegiatan-card-image {
  width: 100%;
  height: 150px;
  background-color: #eee;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: #aaa;
  font-size: 1.1rem;
}

.kegiatan-card-info {
  font-size: 1rem;
  padding: 0 10px 15px;
  font-weight: 600;
  color: var(--dark-color);
}


