body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

.hero-section-koran {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/3.webp");
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.hero-subtitle {
  font-size: 1.2rem;
  opacity: 0.9;
}

/* SEARCH FORM */
.search-form-koran {
  max-width: 900px;
  margin: 0 auto;
  padding: 8px;
}

.search-form-koran .input-group > * {
  border: none !important;
  box-shadow: none !important;
  height: 48px;
}

.search-form-koran .form-select,
.search-form-koran .form-control {
  border-radius: 0;
  background-color: white;
}

.search-form-koran .input-group > *:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.search-form-koran .input-group > *:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.search-button-koran {
  background-color: #0f8ec8;
  color: white;
  border: none;
  padding: 0 2rem;
}
.section-header {
  font-weight: 600;
  margin-bottom: 20px;
}

/* GRID */
.koran-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

/* CARD */
.koran-card {
  background-color: #ffffff;
  border: 1px solid #bcd7e6;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.koran-card:hover {
  transform: translateY(-4px);
}

/* FOTO ABU-ABU */
.koran-image {
  height: 130px;
  background-color: #e9e9e9;
}

/* TITLE */
.koran-title {
  padding: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}
