@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding-top: 80px;
}

@media (max-width: 768px) {
  .content {
    padding-top: 70px;
  }
}

