.hero-slider {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex; 
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: fade 15s infinite;
  opacity: 0;
}

.slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Overlay gelap */
}
 
.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 5s; }
.slide:nth-child(3) { animation-delay: 10s; }

@keyframes fade {
  0% { opacity: 0; }
  5% { opacity: 1; }
  30% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}

.info-section {
  padding: 3rem 0;
  background-color: var(--light-color);
}

.tentang-box {
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
  align-items: flex-start;
}

.tentang-text {
  text-align: justify;
  flex: 2;
}

.tentang-image {
  flex-shrink: 0; 
  border-radius: 8px;  
  max-width: 350px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-self: flex-start; 
}

.tentang-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tujuan-list {
  padding-left: 1.2rem;
  margin: 0;
  list-style-type: decimal;
}

.tujuan-list li {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.tujuan-list li:before {
  color: var(--primary-color);
  font-weight: bold;
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  line-height: 1.6;
}

.support-section {
  text-align: center;
  padding: 2rem 0;
  background-color: var(--light-color);
}

.qr-box {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.qr-box img {
  width: 150px;
  height: 150px;
}

@media (max-width: 768px) {
    .tentang-box {
        flex-direction: column;
        gap: 1.5rem;
    }
    .tentang-image {
        max-width: 100%;
        margin: 0 auto;
    }
    .hero-slider {
        height: 60vh;
    }
}

@media (max-width: 576px) {
    .tentang-box {
        flex-direction: column;
        gap: 1.5rem;
    }
    .tentang-image {
        max-width: 100%;
        margin: 0 auto;
    }
    .hero-slider {
        height: 35vh;
    }
}